---
import Layout from '../layouts/Layout.astro';
import HeroSection from "../components/HeroSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import AboutSection from "../components/AboutSection.astro";
import ContactSection from "../components/ContactSection.astro";
---

<Layout title="Daniel H. Alcojor - Senior Full-stack Developer">
    <main class="snap-y snap-mandatory h-screen w-full overflow-y-auto overflow-x-hidden scroll-smooth">
        <HeroSection />
        <ProjectsSection />
        <AboutSection />
        <ContactSection />
    </main>
</Layout>

<style>
    main {
        section {
            @apply h-screen w-full snap-start snap-always;

            > div {
                @apply max-w-[1200px] h-full mx-auto flex justify-center items-center gap-4;
            }

            h2 {
                @apply text-4xl font-bold;
            }
        }
    }
</style>

<script>
    import {diffYears} from "@formkit/tempo";

    const years = document.getElementById('years');
    const expYears = diffYears(new Date(), new Date(2006, 7, 1));
    years.innerHTML = `${expYears}+`;
</script>
