---
import TailwindLogo from "./logos/TailwindLogo.astro";
import AstroLogo from "./logos/AstroLogo.astro";
import JavaScriptLogo from "./logos/JavaScriptLogo.astro";
---
<section id="about" class="bg-gradient-to-b from-red-500 to-purple-500">
    <div class="flex flex-col justify-center items-center gap-8">
        <h2>Acerca de</h2>
        <p class="text-center">
            Esta página ha sido desarrollada con <AstroLogo />
        </p>
        <p>Astro es un framework de desarrollo web moderno y rápido del que me he enamorado recientemente.
        </p>
        <p>
            También he usado algunas herramientas de desarrollo web, como:
        </p>
        <ul class="logo-list">
            <li><JavaScriptLogo /></li>
            <li><TailwindLogo /></li>
        </ul>
        <p>
            Es un proyecto de código abierto, disponible en
            <a class="font-bold hover:border-b-2 hover:border-dashed hover:border-white" href="https://github.com/dhAlcojor/alcojor-dev" target="_blank">GitHub</a>.
        </p>
    </div>
</section>
