---
import EmailLogo from "./logos/EmailLogo.astro";
import GitHubLogo from "./logos/GithubLogo.astro";
import LinkedInLogo from "./logos/LinkedinLogo.astro";
import TwitterLogo from "./logos/TwitterLogo.astro";
---
<section id="contact" class="bg-gradient-to-b from-purple-500 to-blue-600">
    <div class="flex flex-col justify-center items-center gap-8">
        <h2>Contacto</h2>
        <p>
        Si tienes alguna pregunta, necesitas ayuda, o simplemente me quieres pagar por escribir código, tienes todas estas opciones:
        </p>
        <div>
            <ul class="logo-list">
                <li><a href="mailto:danheralc@gmail.com" title="Enviar un correo electrónico"><EmailLogo /></a></li>
                <li><a href="https://github.com/dhAlcojor" target="_blank" title="Ver mi perfil en GitHub"><GitHubLogo /></a></li>
                <li><a href="https://www.linkedin.com/in/dhalcojor" target="_blank" title="Conectar conmigo en LinkedIn"><LinkedInLogo /></a></li>
                <li><a href="https://twitter.com/alcojor_dev" target="_blank" title="Conectar conmigo en Twitter"><TwitterLogo /></a></li>
            </ul>
        </div>
    </div>
</section>
