<section class="bg-gradient-to-b from-yellow-300 to-orange-400 text-white">
    <div class="flex justify-center items-center gap-8">
        <img class="h-48 w-48 mr-4 border-2 border-black rounded-full" src="/images/profile.png" alt="Foto de perfil de Daniel H. Alcojor"/>
        <div class="max-w-[67%] text-black flex flex-col gap-4">
            <h2>Hola, soy Daniel H. Alcojor</h2>
            <p>
                Soy un desarrollador web senior, con <span id="years" class="text-2xl text-red-600 font-bold">17+</span> años de experiencia en desarrollo de aplicaciones web, móviles, y APIs.
            </p>
            <p>
                He trabajado para clientes de todo tipo de negocios: bancos, empresas de retail, medios de comunicación, etc.
            </p>
            <p>
                Actualmente trabajo como <strong>desarrollador full-stack</strong> en
                <a class="border-b-2 border-transparent hover:border-b-2 hover:border-dashed hover:border-red-600" href="https://wizeline.com/" target="_blank">
                    <svg class="h-10 w-10 inline-block fill-red-600 align-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180.64 121.92"><defs></defs><g id="Layer_2"><g id="Layer_1-2" ><path class="cls-1" d="M119,0H102.26a16.79,16.79,0,0,0-15,9.29L68.17,47.43a3.78,3.78,0,0,1-6.76,0L46,16.66a5.62,5.62,0,0,0-5-3.11H4.79A4.78,4.78,0,0,0,.51,20.46L46.7,112.83a16.43,16.43,0,0,0,29.4,0l49.65-99.28,3-6.09A13.5,13.5,0,0,1,140.86,0Z"/><path class="cls-1" d="M170.78,0H144.39a13.48,13.48,0,0,0-12.06,7.46l-3.05,6.09-.6,1.2a4.15,4.15,0,0,1,.81,4.85L91.88,94.83l8.87,17.74a16.73,16.73,0,0,0,13,9.25,16.44,16.44,0,0,0,16.49-9l49.29-98.59A9.83,9.83,0,0,0,170.78,0Z"/><path class="cls-1" d="M139.57,117.06h-1v-.37h2.51v.37h-1v3h-.44Z"/><path class="cls-1" d="M144.29,118.59c0-.47-.06-1,0-1.46h0c-.12.4-.26.82-.43,1.29l-.6,1.64h-.33l-.55-1.61q-.24-.72-.39-1.32h0c0,.42,0,1-.06,1.5l-.09,1.45h-.42l.23-3.39h.56l.58,1.64c.14.42.26.79.34,1.14h0a9.65,9.65,0,0,1,.36-1.14l.6-1.64h.56l.21,3.39h-.43Z"/></g></g></svg>
                    <svg class="h-6 inline-block fill-white align-baseline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 378.45 53.09"><defs></defs><g id="Layer_2"><g id="Layer_1-2"><path class="cls-1" d="M77.13,0,61.43,53.09H46.19L38.6,24.8,30.94,53.09H15.7L0,0H18.35L25,28.21,32.61,0H44.52L52.1,28.21,58.85,0Z"/><path class="cls-1" d="M101,0V53.09H84V0Z"/><path class="cls-1" d="M153.58,37.46V53.09H109.37V40.19l20.17-24.57H110.05V0h42.17V13L132,37.46Z"/><path class="cls-1" d="M199.31,38.83V53.09H161.92V0h36.71V14.26H179v5.91H196.2V32.46H179v6.37Z"/><path class="cls-1" d="M245.27,37.46V53.09H208.42V0h17.06V37.46Z"/><path class="cls-1" d="M270.68,0V53.09H253.62V0Z"/><path class="cls-1" d="M330.44,0V53.09H315.05L298.36,26.24V53.09H281.3V0h15.4l16.68,26.85V0Z"/><path class="cls-1" d="M378.45,38.83V53.09H341.07V0h36.7V14.26H358.13v5.91h17.21V32.46H358.13v6.37Z"/></g></g></svg>
                </a>.
            </p>
        </div>
    </div>
</section>
