---
import WizelineLogo from "./logos/WizelineLogo.astro";
---
<section class="bg-gradient-to-b from-yellow-300 to-orange-400 text-white">
    <div class="flex justify-center items-center gap-8">
        <img class="h-48 w-48 mr-4 border-2 border-black rounded-full" src="/images/profile.png" alt="Foto de perfil de Daniel H. Alcojor"/>
        <div class="max-w-[67%] text-black flex flex-col gap-4">
            <h2>Hola, soy Daniel H. Alcojor</h2>
            <p>
                Soy un desarrollador web senior, con <span id="years" class="text-2xl text-red-600 font-bold">17+</span> años de experiencia en desarrollo de aplicaciones web, móviles, y APIs.
            </p>
            <p>
                He trabajado para clientes de todo tipo de negocios: bancos, empresas de retail, medios de comunicación, etc.
            </p>
            <p>
                Actualmente trabajo como <strong>desarrollador full-stack</strong> en
                <a class="border-b-2 border-transparent hover:border-b-2 hover:border-dashed hover:border-red-600" href="https://wizeline.com/" target="_blank">
                    <WizelineLogo />
                </a>.
            </p>
        </div>
    </div>
</section>

<script>
    import {diffYears} from "@formkit/tempo";

    const years = document.getElementById('years');
    const expYears = diffYears(new Date(), new Date(2006, 7, 1));
    if (years) years.innerHTML = `${expYears}+`;
</script>
