---
import TypeScriptLogo from "./logos/TypeScriptLogo.astro";
import JavaScriptLogo from "./logos/JavaScriptLogo.astro";
import NodeLogo from "./logos/NodeLogo.astro";
import NextLogo from "./logos/NextLogo.astro";
import TailwindLogo from "./logos/TailwindLogo.astro";
import AngularLogo from "./logos/AngularLogo.astro";
import AndroidLogo from "./logos/AndroidLogo.astro";
import FirebaseLogo from "./logos/FirebaseLogo.astro";
import GodotLogo from "./logos/GodotLogo.astro";
import FlutterLogo from "./logos/FlutterLogo.astro";
import AstroLogo from "./logos/AstroLogo.astro";
---

<section id="projects" class="bg-gradient-to-b from-orange-400 to-red-500 overflow-y-scroll">
    <div class="flex flex-col lg:justify-center lg:items-center gap-8">
        <h2>Proyectos</h2>
        <div class="flex flex-col lg:flex-row lg:gap-12 items-start">
            <div class="flex flex-col justify-evenly w-full">
                <article class="flex flex-col gap-4">
                    <p>
                        Soy una persona muy curiosa y me gustan los retos, siempre estoy trabajando en  proyectos personales.
                    </p>
                    <p>
                        Algunas tecnologías que he utilizado en esos proyectos, en orden de más utilizados a menos:
                    </p>
                    <ul class="logo-list">
                        <li><TypeScriptLogo /></li>
                        <li><JavaScriptLogo /></li>
                        <li><TailwindLogo /></li>
                        <li><AngularLogo /></li>
                        <li><AndroidLogo /></li>
                        <li><FirebaseLogo /></li>
                        <li><NodeLogo /></li>
                        <li><GodotLogo /></li>
                        <li><FlutterLogo /></li>
                        <li><NextLogo /></li>
                        <li><AstroLogo /></li>
                    </ul>
                </article>
            </div>
            <div id="current-projects" class="flex flex-col mt-4 lg:mt-0">
                <h3>Entre manos</h3>
                <p>
                    Me ha costado algún tiempo, pero al final me he decidido por el desarrollo de videojuegos porque combinan todas mis pasiones:
                </p>
                <ul class="pills">
                    <li>programación</li>
                    <li>creatividad</li>
                    <li>ilustración</li>
                    <li>animación</li>
                    <li>escritura</li>
                    <li>storytelling</li>
                    <li>resolución de problemas complejos</li>
                </ul>
                <p class="mt-4">Por eso estoy trabajando en:</p>
                <ul>
                    <li>Un aRPG que estoy desarrollando con Godot Engine</li>
                    <li>Un jRPG que estoy desarrollando con RPG Maker MV</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<style>
    h3 {
        @apply lg:text-2xl font-bold text-center;
    }

    #current-projects {
        ul.pills {
            @apply list-none flex flex-wrap gap-2;

            li {
                @apply bg-blue-500 text-white px-2 py-1 rounded-full text-xs;
            }
        }
        ul {
            @apply list-disc list-inside mt-2 ml-4;
        }
    }
</style>
